@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

html {
  font-size: 98%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-container {
  min-width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);

}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 24rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 0.5rem;
}

.numpad-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1.25rem;
}

.digits-container {
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1.25rem;
}

.operations-container {
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
  row-gap: 1.25rem;
}

.digit {

  background: none;
  border: none;
  outline: none;

  font-size: 2rem;
  width: 100%;
  text-align: center;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-weight: 500;
  user-select: none;
  cursor: pointer;
  align-self: center;
  justify-self: center;
  /* border: 1px solid whitesmoke; */
  border-radius: 0.75rem;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

  background-color: #0f123570;
  color: white;
}

.operation {

  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;

  background: none;
  border: none;
  outline: none;


  font-size: 2rem;
  width: 100%;
  text-align: center;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-weight: 500;
  user-select: none;
  cursor: pointer;
  align-self: center;
  justify-self: center;
  /* border: 1px solid whitesmoke; */
  border-radius: 0.75rem;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

  background-color: #7e73ab;
  color: whitesmoke;
}


.digit:hover,
.operation:hover {
  transform: scale(0.99);
  transition: all 0.2s ease-in;
}


.current-number {
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  text-align: right;
  letter-spacing: 2px;

}


.operation-history {
  font-size: small;
  min-height: 2rem;
  user-select: none;
}

.display {
  position: relative;
  user-select: none;
  padding: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  text-align: right;
  border-radius: 0.5rem;

  border: 1px solid whitesmoke;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  background-color: #c0dbb0;
  /* background-color: #424244; */
  color: #322323;
  font-family: 'PT Mono', monospace;
}

.invalid-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ff8282;
  background-color: #322323;
  border-radius: 0.5rem;
}

.cover {
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 1.25rem;
  position: absolute;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  -webkit-user-select: none;
  user-select: none;
  z-index: 10000;
  opacity: 0.999;
  background-position: center center;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%27100%25%27 height=%27100%25%27 viewBox=%270 0 100 60%27%3E%3Cg fill-opacity=%270.27%27%3E%3Crect fill=%27%23000000%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23060606%27 x=%2710%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%230c0c0c%27 y=%2710%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23111111%27 x=%2720%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23151515%27 x=%2710%27 y=%2710%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23181818%27 y=%2720%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%231c1c1c%27 x=%2730%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%231f1f1f%27 x=%2720%27 y=%2710%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23232323%27 x=%2710%27 y=%2720%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23262626%27 y=%2730%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%232a2a2a%27 x=%2740%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%232d2d2d%27 x=%2730%27 y=%2710%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23313131%27 x=%2720%27 y=%2720%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23353535%27 x=%2710%27 y=%2730%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23383838%27 y=%2740%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%233c3c3c%27 x=%2750%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23404040%27 x=%2740%27 y=%2710%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23444444%27 x=%2730%27 y=%2720%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23484848%27 x=%2720%27 y=%2730%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%234c4c4c%27 x=%2710%27 y=%2740%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23505050%27 y=%2750%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23545454%27 x=%2760%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23585858%27 x=%2750%27 y=%2710%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%235c5c5c%27 x=%2740%27 y=%2720%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23606060%27 x=%2730%27 y=%2730%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23646464%27 x=%2720%27 y=%2740%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23686868%27 x=%2710%27 y=%2750%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%236c6c6c%27 x=%2770%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23717171%27 x=%2760%27 y=%2710%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23757575%27 x=%2750%27 y=%2720%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23797979%27 x=%2740%27 y=%2730%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%237d7d7d%27 x=%2730%27 y=%2740%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23828282%27 x=%2720%27 y=%2750%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23868686%27 x=%2780%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%238a8a8a%27 x=%2770%27 y=%2710%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%238f8f8f%27 x=%2760%27 y=%2720%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23939393%27 x=%2750%27 y=%2730%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23989898%27 x=%2740%27 y=%2740%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%239c9c9c%27 x=%2730%27 y=%2750%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23a1a1a1%27 x=%2790%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23a5a5a5%27 x=%2780%27 y=%2710%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23aaaaaa%27 x=%2770%27 y=%2720%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23aeaeae%27 x=%2760%27 y=%2730%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23b3b3b3%27 x=%2750%27 y=%2740%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23b7b7b7%27 x=%2740%27 y=%2750%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23bcbcbc%27 x=%2790%27 y=%2710%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23c1c1c1%27 x=%2780%27 y=%2720%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23c5c5c5%27 x=%2770%27 y=%2730%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23cacaca%27 x=%2760%27 y=%2740%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23cfcfcf%27 x=%2750%27 y=%2750%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23d4d4d4%27 x=%2790%27 y=%2720%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23d8d8d8%27 x=%2780%27 y=%2730%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23dddddd%27 x=%2770%27 y=%2740%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23e2e2e2%27 x=%2760%27 y=%2750%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23e7e7e7%27 x=%2790%27 y=%2730%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23ebebeb%27 x=%2780%27 y=%2740%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23f0f0f0%27 x=%2770%27 y=%2750%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23f5f5f5%27 x=%2790%27 y=%2740%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23fafafa%27 x=%2780%27 y=%2750%27 width=%2711%27 height=%2711%27/%3E%3Crect fill=%27%23FFFFFF%27 x=%2790%27 y=%2750%27 width=%2711%27 height=%2711%27/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  box-shadow: rgb(0 0 0 / 16%) 0px 1px 8px, rgb(248 248 248) 0px 0px 0px 6px;
}